.App {
  text-align: center;
  font-family: 'InriaSansRegular', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  /* margin: 0; */
  /* padding: 0; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: #abad8d;
  --bs-btn-border-color: #A48374;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A48374;
  --bs-btn-hover-border-color: #A48374
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A48374;
  --bs-btn-active-border-color: #A48374;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.language-image {
  padding-right: 0;
}

.btn-appointment {
  margin-left: 15px;
  border-radius: 0;
  max-height: 32px;
  padding: 3px; 
}

.contact {
  padding: 0;
}

.language-selector {
  padding: 0;
  align-content: center;
}

.menu {
  font-size: 1.1em;
  align-content: center;
  padding: 0;
}

.footer-menu-col {
  padding-left: 0;
  padding-right: 0;
}

.home-service {
  position: relative;
  overflow: hidden;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "InriaSansRegular"; 
  src: url("./assets/fonts/Inriasans.woff2"); 
  font-style: normal; 
  font-weight: normal; 
} 

@media (min-width: 1400px) {
  .footer-menu-section {
      max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer-menu-section {
      max-width: 100%;
  }
}

@media (min-width:992px) {
  .telefon-img {
    display: none;
  }
  .footer-menu-section {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .contact{
    display: none
  }
}

@media (min-width: 768px) {
  .img-appointment, .menu-button, .divider-short{
    display: none;
  }
  .footer-menu-section {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .body-section {
    padding-top: calc(64px + 60px);
  }
  .logo {
    height: 64px;
  }
  .link {
    height: 22px;
  }
  .menu {
    font-size: 1em;
  }
  .navbar, .language-image, .appointment {
    display: none;
  }
}

@media (min-width: 576px) {
  .footer-menu-section {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .link {
    height: 18px;
  }
}

