.App {
  text-align: center;
  font-family: 'InriaSansRegular', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-outline-primary {
  --bs-btn-color: black;
  --bs-btn-border-color: #d1c7bd;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #d1c7bd;
  --bs-btn-hover-border-color: #d1c7bd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d1c7bd;
  --bs-btn-active-border-color: #d1c7bd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d1c7bd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d1c7bd;
  --bs-gradient: none;
}

.language-image {
  padding-right: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "InriaSansRegular"; 
  src: url("./assets/fonts/Inriasans.woff2"); 
  font-style: normal; 
  font-weight: normal; 
} 
